*{
	margin:0;
	padding:0;
	list-style:none;
	font-family:sans-serif;
	}
#chat{
	position:fixed;
	width:250px;
	height:40px;
	bottom:0;
	right:20px;
	background:magenta;
	z-index:1;
	color:white;
	text-align:center;
	line-height:40px;
	font-family: 'Kaushan Script', cursive;
	font-size:20px;
	border-radius:20px 20px 0 0;
	cursor:pointer;
	}
header{
	position:relative;
	margin:20px auto;
	width:1000px;
	height:120px;
	}
#logo{
	position:absolute;
	top:30px;
	left:30px;
	width:200px;
	height:60px;
	font-family: 'Kaushan Script', cursive;
	font-size:50px;
	text-align:center;
	line-height:60px;
	}
.redes{
	position:absolute;
	width:42px;
	height:42px;
	background:#ccc;
	border-radius:100%;
	text-align:center;
	line-height:42px;
	color:white;
	}
#icono1{
	top:42px;
	right:120px;
	background:yellow;
	}
	
#icono2{
	top:42px;
	right:71px;
	background:blue;
	}
	
#icono3{
	top:42px;
	right:19px;
	background:yellow;
	}
nav{
	position:relative;
	margin:auto;
	width:1000px;
	height:48px;
	}











